{% extends "fuelpredictionsystem/base_loggedin.html"%}

{% load crispy_forms_tags %}

{% block content %}
<br><br><br>
<h1>Manage Your Profile</h1>

<form method="post" class="from-group">
		{% csrf_token %}
		{{form|crispy}}
		<p> Username : {{ user }}</p>
		<p> First Name : {{ user.userprofile.fullname }}</p>
		<p> Last Name : {{ user.userprofile.address }}</p>
		<p> Email : {{ user.userprofile.city }}</p>
<!--<p> City : {{ user.city }}</p>
		<p> State : {{ user.state }}</p> -->
    	<button onclick="location.href='/editProfile'"  type="button" class="btn btn-success"><b>Edit Profile</b></button>
 </form>
 
{% endblock%}

