{% extends "fuelpredictionsystem/base_loggedin.html"%}

{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
    <br><br><br>
    <h1>Fuel Quote Form</h1>
    <form  method="POST" action="/fqf/">
        {% csrf_token %}

       {{ form.gallons_requested|as_crispy_field}}
        
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            {{ form.delivery_date|as_crispy_field }}
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>

        <script>
            $(function () {
              $("#datetimepicker1").datetimepicker({
                format: 'DD/MM/YYYY HH:mm',
                beforeShow: function(){
                    $(".ui-datepicker").css('font-size', 6)
                }
              });
            });
        </script>

        {{ form.delivery_address|as_crispy_field}}

        <div class="form-group">
            <label for="suggetedPrice"><b>Suggested Price:</b></label>
            <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Suggested Price">
        </div>
        
        <div class="form-group">
            <label for="amountDue"><b>Total Amount Due:</b></label>
            <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Total Amount Due">
        </div>
        
        <button type="submit", class='btn btn-success'>Get Price</button>
    </form>    
{% endblock content %}