<!DOCTYPE html>

{% extends "fuelpredictionsystem/base_loggedin.html"%}
{% block content %}
<h1>Manage Your Profile</h1>
<html>
    <head>
        
    </head>
    <body>
        <h1>Fuel Quote History</h1>

        <table cellpadding="12" align="center" style="width:100%; margin-top:60px; margin-left:40px;">
                        <tr>
                            <th align="center">Delivery Date</th>
                            <th align="center">Gallons requested</th>
                            <th align="center">Suggested price</th>
                            <th align="center">Total Due</th>
                            <th align="center">Delivery Address</th>
                          </tr>
                        <tr>
                            <td>12/21/2019</td>
                            <td align="center">180</td>
                            <td align="center">3</td>
                            <td align="center">200</td>
                            <td align="center">Florida</td>
                        </tr>
                        <tr>
                            <td>09/09/2019</td>
                            <td align="center">200</td>
                            <td align="center">2</td>
                            <td align="center">250</td>
                            <td align="center">New York</td>
                        </tr>
                        <tr>
                            <td>08/16/2019</td>
                            <td align="center">270</td>
                            <td align="center">3</td>
                            <td align="center">200</td>
                            <td align="center">Texas</td>
                        </tr>
                        <tr>
                            <td>06/14/2019</td>
                            <td align="center">300</td>
                            <td align="center">3</td>
                            <td align="center">130</td>
                            <td align="center">California</td>
                        </tr>
                        <tr>
                            <td>05/27/2019</td>
                            <td align="center">350</td>
                            <td align="center">3</td>
                            <td align="center">150</td>
                            <td align="center">Colorado</td>
                        </tr>
                        <tr>
                            <td>03/05/2019</td>
                            <td align="center">105</td>
                            <td align="center">3</td>
                            <td align="center">120</td>
                            <td align="center">Arizona</td>
                        </tr>
                      </table>
    </body>
</html>

{% endblock content %}