{% extends "fuelpredictionsystem/base_loggedin.html"%}


{% load crispy_forms_tags %}

{% block content %}
  <form method="post" class="from-group">
    {% csrf_token %}
    {{form|crispy}}
    <h2>Welcome to fuel quote price system Mr. {{ user.last_name }}</h2> 
    <br>
    <button onclick="location.href='/fqf'" type="button" class="btn btn-success">Get a Fuel Quote</button>  
    <button onclick="location.href='/fqh'" type="button" class="btn btn-success">Fuel Quote History</button> 
    <!-- <button onclick="location.href='/editProfile'"  type="button" class="btn btn-primary"><b>Edit Profile</b></button>  -->
  </form>
{% endblock %}


